/*  your css code here. If applicable */
/* Set page background color using :root */
:root {
  background-color: rgb(135, 206, 235);
}

/* Article Paragraph Styles */
article p:first-child {
  color: white;
  background-color: black;
}

article p:nth-child(2) {
  color: initial; /* Standard/default color */
}

article p:last-child {
  color: red;
}

/* Unordered List Styling */
ul li {
  background-color: gray;
  width: 50%;
  padding: 10px;
}

/* Odd items have white background */
ul li:nth-child(odd) {
  background-color: white;
}

/* First and last list items font size */
ul li:first-child,
ul li:last-child {
  font-size: 22px;
}

/* Third-to-last item pink background */
ul li:nth-last-child(3) {
  background-color: pink;
}
